body {
  font-family: Arial, sans-serif;
  background-color: #f0f9f0;
  margin: 0;
  padding: 0;
}

header {
  background: #00005C;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}
